/* navbar styling */
.navbar {
    background: rgb(27,0,149);
background: linear-gradient(90deg, rgba(27,0,149,1) 4%, rgba(16,48,172,1) 43%, rgba(12,43,162,1) 69%, rgba(13,32,111,1) 100%);
}
.navbar .container-fluid .navbar-brand {
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.d-flex li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.d-flex li {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    text-decoration: none;
}
.nav .nav-item .box {
    background-color: white;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-weight: bold;
}
/* header scroll styling */
.header-scroll-main {
    height: 50vh;
    background: rgb(27,0,149);
background: linear-gradient(90deg, rgba(27,0,149,1) 4%, rgba(16,48,172,1) 43%, rgba(12,43,162,1) 69%, rgba(13,32,111,1) 100%);
}
.header-scroll-content-one h3 {
    color: rgb(221, 255, 216);
}
.header-scroll-display {
    display: flex;
    padding-top: 50px;
}
.header-scroll-content-one li {
    color: white;
}
.header-scroll-content-one li a {
    color: white;
    text-decoration: none;
}

/* server display sales */
.card-display {
    display: flex;
}
.content-one h3 {
    margin-top: 30px;
    text-align: center;
}
.content-one p {
    margin-bottom: 30px;
}
.card-group .card {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 20px;
}